body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-image: url("/assets/images/wildlife.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size: 100%;
}
h1{
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    font-family: monospace;
}
.dollar{
    width:100%;
    text-align: center;
    z-index: -1;
    background: rgba(50, 205, 50, 0.692);
    position: relative;
}
b{
    font-size: 800px;
    color: rgba(0, 128, 0, 0.733);
    position: sticky;
    /* margin: 100px 500px 200px 600px; */
}
.container{
    width:100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    align-self: center;
    position: fixed;
    margin-top: 50px;
    left: 0;
    top:0;
    z-index: 1;
    position: fixed;
}
.inputField{
    width:85%;
    height: 100px;
}
#details{
    width: 90%;
    height: 40px;
    font-size: 25px;
    margin-bottom: 5px;
    border: 2px solid green;
    border-radius: 15px;
    background-image:repeating-linear-gradient(45deg, rgb(22, 175, 22),limegreen 15%,rgba(255, 255, 255, 0.753) 15% );
    outline: none;
}
#amount{
    width: 39%;
    height: 40px;
    font-size: 25px;
    border: 2px solid green;
    background-image:repeating-linear-gradient(45deg, rgb(22, 175, 22),limegreen 15%,rgba(255, 255, 255, 0.753) 15% );
    border-radius: 15px;
    outline: none;
}
#date{
    width: 50%;
    height: 40px;
    font-size: 25px;
    border: 2px solid green;
    background-image:repeating-linear-gradient(45deg, rgb(22, 175, 22),limegreen 15%,rgba(255, 255, 255, 0.753) 15% );
    border-radius: 15px;
    outline: none;
}
.tableData{
    width: 85%;
    display: flex;
}
table{
    margin-top: 20px;
    width: 90%;
    min-height: auto;
    background-image:repeating-linear-gradient(45deg, rgba(22, 175, 22, 0.733),rgba(50, 205, 50, 0.726) 15%,rgba(255, 255, 255, 0.644) 15% );
}

table,th,td{
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}